#divChart{
  display: block;
  width: 400px;
  height: 400px;
  margin-top: 50px;
}
table {
  width: 400px;
  background-color: rgba(196, 236, 116, 0.400);
  line-break: normal;
  border-color: rgb(42, 72, 88, 0.700);
}
.example-spacer {
  flex: 1 1 auto;
}
